/* Commen item start */
.tab-panel-reviews .comment-list {
  display: flex;
  flex-direction: column;
  row-gap: 30px;
}

.tab-panel-reviews .comment-item {
  display: flex;
  gap: 10px;
}

.tab-panel-reviews .comment-item .comment-avatar img {
  border-radius: 50%;
  display: flex;
}

.tab-panel-reviews .comment-item .comment-text {
  display: flex;
  flex-direction: column;
  gap: 6px;
  font-size: 12px;
}

.tab-panel-reviews .comment-item .comment-text ul {
  display: flex;
  color: gold;
}

.tab-panel-reviews .comment-item .comment-text .comment-meta {
  font-size: 14px;
}

/* Commen item ende */

/*   comment form start */
.review-form-wrapper h2 {
  font-size: 16px;
  font-weight: 500;
  margin: 10px 0;
}

.review-form-wrapper .comment-form {
  border-top: 1px solid #dee0de;
  padding: 20px 0;
  font-size: 14px;
  display: flex;
  flex-direction: column;
  row-gap: 15px;
  
  
}

.review-form-wrapper .comment-form-rating .stars {
  display: flex;
  flex-direction: row;
  gap: 15px;
  margin-top: 10px;
}

.review-form-wrapper .comment-form-rating .stars .star {
  border-right: 1px solid #dee0de;
  padding-right: 10px;
}

.review-form-wrapper .comment-form-rating .stars .star:last-child {
  border-right: unset;
}

.review-form-wrapper .comment-form-rating .stars .star i {
  color: #dee0de;
  font-size: 12px;
  transition: all .2s ease;
}

.review-form-wrapper .comment-form-rating .star.active i {
  color: gold;

}
.star.active i {
  color: gold;

}
.review-form-wrapper .comment-form-rating .stars .star:hover i {
  color: gold;

}


.comment-form .comment-form-comment{
  display: flex;
  flex-direction: column;
  gap: 5px;
  font-weight: 500;
}

.comment-form .comment-form-author{
  display: flex;
  flex-direction: column;
  gap: 5px;
  font-weight: 500;
}

.comment-form .comment-form-email{
  display: flex;
  flex-direction: column;
  gap: 5px;
  font-weight: 500;
}
.comment-form .comment-form-cookies {
  display: flex;
  gap: 5px;
  margin: 5px;
}

.comment-form .comment-form-cookies label{
  font-size: 12px;
  
}

.comment-form .form-submit input{
  background-color: black;
  color: white;
  width: 150px;
  
}
/*   comment form end */